# This code provide the demand file for FleetPy

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Calculate the Need Proportion for Medical Need Rides

In [2]:
# Load medic visit need data
medic_visit_need = pd.read_csv('medic_visit_need.csv')
medic_visit_need

,tract_number,tract_name,Total Medical Visit,Total_med_rides_need
0,21001970100,"Adair County, Tract 970100",116.400718,17.591899
1,21001970200,"Adair County, Tract 970200",130.701292,18.882717
2,21001970300,"Adair County, Tract 970300",216.206251,37.235982
3,21001970401,"Adair County, Tract 970401",301.566243,53.424656
4,21001970402,"Adair County, Tract 970402",245.354618,34.877868
...,...,...,...,...
1110,21239050106,"Woodford County, Tract 050106",245.115946,39.115040
1111,21239050107,"Woodford County, Tract 050107",248.863732,39.954814
1112,21239050200,"Woodford County, Tract 050200",282.790542,41.632277
1113,21239050300,"Woodford County, Tract 050300",126.373998,17.301463
1114,21239050400,"Woodford County, Tract 050400",160.513442,24.942990

In [3]:
# Create a new column for need proportion
medic_visit_need['need_proportion'] = medic_visit_need['Total_med_rides_need']/medic_visit_need['Total Medical Visit']

In [4]:
medic_visit_need

,tract_number,tract_name,Total Medical Visit,Total_med_rides_need,need_proportion
0,21001970100,"Adair County, Tract 970100",116.400718,17.591899,0.151132
1,21001970200,"Adair County, Tract 970200",130.701292,18.882717,0.144472
2,21001970300,"Adair County, Tract 970300",216.206251,37.235982,0.172224
3,21001970401,"Adair County, Tract 970401",301.566243,53.424656,0.177157
4,21001970402,"Adair County, Tract 970402",245.354618,34.877868,0.142153
...,...,...,...,...,...
1110,21239050106,"Woodford County, Tract 050106",245.115946,39.115040,0.159578
1111,21239050107,"Woodford County, Tract 050107",248.863732,39.954814,0.160549
1112,21239050200,"Woodford County, Tract 050200",282.790542,41.632277,0.147219
1113,21239050300,"Woodford County, Tract 050300",126.373998,17.301463,0.136907
1114,21239050400,"Woodford County, Tract 050400",160.513442,24.942990,0.155395

In [5]:
medic_visit_need['Total Medical Visit'].sum()

274623.8115576943

In [6]:
medic_visit_need['Total_med_rides_need'].sum()

42281.514099089174

In [7]:
medic_visit_need['need_proportion'].max()

0.20180487707224

In [8]:
# Save the sampled data to a new CSV file
medic_visit_need.to_csv("medic_visit_need_propotion.csv", index=False)

## Load the Gravity Matrix in Long Format DataFrame

In [5]:
# Load the Medical visit and medical need ride data
gravity_matrix_long = pd.read_csv('gravity_matrix_long.csv')

gravity_matrix_long

         origin_geo_id  dest_geo_id  flow_count
0          21001970100  21001970100    0.000000
1          21001970100  21001970200    0.660443
2          21001970100  21001970300    0.078207
3          21001970100  21001970401    3.174550
4          21001970100  21001970402    5.640341
...                ...          ...         ...
1243219    21239050400  21239050106    0.438467
1243220    21239050400  21239050107    0.841023
1243221    21239050400  21239050200    0.042113
1243222    21239050400  21239050300    0.091487
1243223    21239050400  21239050400    0.400716

[1243224 rows x 3 columns]

In [6]:
# Rename column appropriately
gravity_matrix_long.rename(columns={'flow_count': 'attracted_trips'}, inplace=True)

gravity_matrix_long

         origin_geo_id  dest_geo_id  attracted_trips
0          21001970100  21001970100         0.000000
1          21001970100  21001970200         0.660443
2          21001970100  21001970300         0.078207
3          21001970100  21001970401         3.174550
4          21001970100  21001970402         5.640341
...                ...          ...              ...
1243219    21239050400  21239050106         0.438467
1243220    21239050400  21239050107         0.841023
1243221    21239050400  21239050200         0.042113
1243222    21239050400  21239050300         0.091487
1243223    21239050400  21239050400         0.400716

[1243224 rows x 3 columns]

In [7]:
# Set trips to UK healthcare destination (21067000801)
UK_destination = gravity_matrix_long[gravity_matrix_long['dest_geo_id'] == 21067000801]

UK_destination

         origin_geo_id  dest_geo_id  attracted_trips
270        21001970100  21067000801         3.283400
1385       21001970200  21067000801         0.782332
2500       21001970300  21067000801         3.873214
3615       21001970401  21067000801         2.667262
4730       21001970402  21067000801         1.725057
...                ...          ...              ...
1237919    21239050106  21067000801        65.931136
1239034    21239050107  21067000801        57.088081
1240149    21239050200  21067000801        64.944824
1241264    21239050300  21067000801        24.980921
1242379    21239050400  21067000801        33.125708

[1115 rows x 3 columns]

## Merge tract_name and need_proportion from medic_visit_need to UK_destination

In [8]:
# Merge need_proportion from medic_visit_need to UK_destination
UK_destination_merged = UK_destination.merge(
    medic_visit_need[['tract_number', 'tract_name', 'need_proportion']], 
    left_on='origin_geo_id', 
    right_on='tract_number', 
    how='left'
)

# Dropping the redundant tract_number column (since it is the same as origin_geo_id)
UK_destination_merged.drop(columns=['tract_number'], inplace=True)

# Display the first few rows of the merged dataset
UK_destination_merged

,origin_geo_id,dest_geo_id,attracted_trips,tract_name,need_proportion
0,21001970100,21067000801,3.283400,"Adair County, Tract 970100",0.151132
1,21001970200,21067000801,0.782332,"Adair County, Tract 970200",0.144472
2,21001970300,21067000801,3.873214,"Adair County, Tract 970300",0.172224
3,21001970401,21067000801,2.667262,"Adair County, Tract 970401",0.177157
4,21001970402,21067000801,1.725057,"Adair County, Tract 970402",0.142153
...,...,...,...,...,...
1110,21239050106,21067000801,65.931136,"Woodford County, Tract 050106",0.159578
1111,21239050107,21067000801,57.088081,"Woodford County, Tract 050107",0.160549
1112,21239050200,21067000801,64.944824,"Woodford County, Tract 050200",0.147219
1113,21239050300,21067000801,24.980921,"Woodford County, Tract 050300",0.136907
1114,21239050400,21067000801,33.125708,"Woodford County, Tract 050400",0.155395

### Calculate number of people needing a medical ride from each census tract to UK Healthcare

In [9]:
# Calculate number of people needing a medical ride from each census tract to UK Healthcare

UK_destination_merged['need_med_ride'] = UK_destination_merged['attracted_trips'] * UK_destination_merged['need_proportion']

UK_destination_merged

,origin_geo_id,dest_geo_id,attracted_trips,tract_name,need_proportion,need_med_ride
0,21001970100,21067000801,3.283400,"Adair County, Tract 970100",0.151132,0.496228
1,21001970200,21067000801,0.782332,"Adair County, Tract 970200",0.144472,0.113025
2,21001970300,21067000801,3.873214,"Adair County, Tract 970300",0.172224,0.667062
3,21001970401,21067000801,2.667262,"Adair County, Tract 970401",0.177157,0.472525
4,21001970402,21067000801,1.725057,"Adair County, Tract 970402",0.142153,0.245222
...,...,...,...,...,...,...
1110,21239050106,21067000801,65.931136,"Woodford County, Tract 050106",0.159578,10.521139
1111,21239050107,21067000801,57.088081,"Woodford County, Tract 050107",0.160549,9.165432
1112,21239050200,21067000801,64.944824,"Woodford County, Tract 050200",0.147219,9.561143
1113,21239050300,21067000801,24.980921,"Woodford County, Tract 050300",0.136907,3.420058
1114,21239050400,21067000801,33.125708,"Woodford County, Tract 050400",0.155395,5.147570

In [10]:
UK_destination_merged.describe()

,origin_geo_id,dest_geo_id,attracted_trips,need_proportion,need_med_ride
count,1.115000e+03,1.115000e+03,1115.000000,1109.000000,1.109000e+03
mean,2.111067e+10,2.106700e+10,9.242970,0.153281,1.397711e+00
std,6.156300e+07,0.000000e+00,23.852237,0.011643,3.564826e+00
min,2.100197e+10,2.106700e+10,0.000000,0.130386,3.619483e-12
25%,2.106700e+10,2.106700e+10,0.138684,0.144555,2.285259e-02
50%,2.111101e+10,2.106700e+10,0.645565,0.151217,9.954607e-02
75%,2.115101e+10,2.106700e+10,4.483622,0.160019,6.861403e-01
max,2.123905e+10,2.106700e+10,192.718024,0.201805,2.702967e+01

In [11]:
UK_destination_merged['need_proportion'].mean()

0.15328051610824486

## Round the need_med_ride column

In [12]:
import numpy as np
# Function to randomly round need med ride column
def random_round(value):
    mod = value % 1
    if np.random.rand() < mod:  # round up
        return np.ceil(value)
    else:  # round down
        return np.floor(value)

# Apply the function to the column
UK_destination_merged['rounded_need_med_ride'] = UK_destination_merged['need_med_ride'].apply(random_round)

UK_destination_merged

,origin_geo_id,dest_geo_id,attracted_trips,tract_name,need_proportion,need_med_ride,rounded_need_med_ride
0,21001970100,21067000801,3.283400,"Adair County, Tract 970100",0.151132,0.496228,0.0
1,21001970200,21067000801,0.782332,"Adair County, Tract 970200",0.144472,0.113025,0.0
2,21001970300,21067000801,3.873214,"Adair County, Tract 970300",0.172224,0.667062,0.0
3,21001970401,21067000801,2.667262,"Adair County, Tract 970401",0.177157,0.472525,1.0
4,21001970402,21067000801,1.725057,"Adair County, Tract 970402",0.142153,0.245222,1.0
...,...,...,...,...,...,...,...
1110,21239050106,21067000801,65.931136,"Woodford County, Tract 050106",0.159578,10.521139,11.0
1111,21239050107,21067000801,57.088081,"Woodford County, Tract 050107",0.160549,9.165432,10.0
1112,21239050200,21067000801,64.944824,"Woodford County, Tract 050200",0.147219,9.561143,10.0
1113,21239050300,21067000801,24.980921,"Woodford County, Tract 050300",0.136907,3.420058,3.0
1114,21239050400,21067000801,33.125708,"Woodford County, Tract 050400",0.155395,5.147570,5.0

In [73]:
save_file = UK_destination_merged.to_csv('UK_destination_merged.csv', index=False)

In [13]:
UK_destination_merged['rounded_need_med_ride'].sum()

1546.0

In [72]:
UK_destination_merged['attracted_trips'].sum()

10305.911743841152

In [14]:
# Rename column appropriately
UK_destination_merged.rename(columns={'rounded_need_med_ride': 'perfect_pax'}, inplace=True)

UK_destination_merged

,origin_geo_id,dest_geo_id,attracted_trips,tract_name,need_proportion,need_med_ride,perfect_pax
0,21001970100,21067000801,3.283400,"Adair County, Tract 970100",0.151132,0.496228,0.0
1,21001970200,21067000801,0.782332,"Adair County, Tract 970200",0.144472,0.113025,0.0
2,21001970300,21067000801,3.873214,"Adair County, Tract 970300",0.172224,0.667062,0.0
3,21001970401,21067000801,2.667262,"Adair County, Tract 970401",0.177157,0.472525,1.0
4,21001970402,21067000801,1.725057,"Adair County, Tract 970402",0.142153,0.245222,1.0
...,...,...,...,...,...,...,...
1110,21239050106,21067000801,65.931136,"Woodford County, Tract 050106",0.159578,10.521139,11.0
1111,21239050107,21067000801,57.088081,"Woodford County, Tract 050107",0.160549,9.165432,10.0
1112,21239050200,21067000801,64.944824,"Woodford County, Tract 050200",0.147219,9.561143,10.0
1113,21239050300,21067000801,24.980921,"Woodford County, Tract 050300",0.136907,3.420058,3.0
1114,21239050400,21067000801,33.125708,"Woodford County, Tract 050400",0.155395,5.147570,5.0

## Load KY Travel Time Data

In [15]:
# Load data
ky_travel_time = pd.read_csv('KY_travel_time_distance.csv')

ky_travel_time

,geoid_origin,origin_x,origin_y,geoid_dest,dest_x,dest_y,travel_distance,travel_time
0,2.123793e+10,-83.588704,37.738887,2.123793e+10,-83.588704,37.738887,0.000000,0.000000
1,2.123793e+10,-83.588704,37.738887,2.103193e+10,-86.731982,37.225166,212.131433,254.830000
2,2.123793e+10,-83.588704,37.738887,2.103193e+10,-86.723313,37.087762,218.796836,262.365000
3,2.123793e+10,-83.588704,37.738887,2.103193e+10,-86.517884,37.236586,206.800490,245.881667
4,2.123793e+10,-83.588704,37.738887,2.103193e+10,-86.848686,37.157033,221.002026,269.431667
...,...,...,...,...,...,...,...,...
1243219,2.119593e+10,-82.380711,37.517216,2.119593e+10,-82.486145,37.621373,23.598183,51.371667
1243220,2.119593e+10,-82.380711,37.517216,2.119593e+10,-82.470858,37.313760,38.993935,55.928333
1243221,2.119593e+10,-82.380711,37.517216,2.119593e+10,-82.562128,37.548172,20.724521,32.423333
1243222,2.119593e+10,-82.380711,37.517216,2.119593e+10,-82.192534,37.562992,22.869686,42.480000
1243223,2.119593e+10,-82.380711,37.517216,2.119593e+10,-82.481005,37.461693,19.646128,35.041667

In [16]:
# Strip spaces from column names to avoid hidden issues
ky_travel_time.columns = ky_travel_time.columns.str.strip()

In [17]:
# Convert geoid_origin and geoid_dest to whole numbers (integers)
ky_travel_time["geoid_origin"] = ky_travel_time["geoid_origin"].astype("int64")
ky_travel_time["geoid_dest"] = ky_travel_time["geoid_dest"].astype("int64")

In [18]:
ky_travel_time

,geoid_origin,origin_x,origin_y,geoid_dest,dest_x,dest_y,travel_distance,travel_time
0,21237930200,-83.588704,37.738887,21237930200,-83.588704,37.738887,0.000000,0.000000
1,21237930200,-83.588704,37.738887,21031930300,-86.731982,37.225166,212.131433,254.830000
2,21237930200,-83.588704,37.738887,21031930400,-86.723313,37.087762,218.796836,262.365000
3,21237930200,-83.588704,37.738887,21031930200,-86.517884,37.236586,206.800490,245.881667
4,21237930200,-83.588704,37.738887,21031930500,-86.848686,37.157033,221.002026,269.431667
...,...,...,...,...,...,...,...,...
1243219,21195931200,-82.380711,37.517216,21195930100,-82.486145,37.621373,23.598183,51.371667
1243220,21195931200,-82.380711,37.517216,21195931000,-82.470858,37.313760,38.993935,55.928333
1243221,21195931200,-82.380711,37.517216,21195930200,-82.562128,37.548172,20.724521,32.423333
1243222,21195931200,-82.380711,37.517216,21195931600,-82.192534,37.562992,22.869686,42.480000
1243223,21195931200,-82.380711,37.517216,21195930400,-82.481005,37.461693,19.646128,35.041667

## Set KY travel time to UK healthcare destination (21067000801)

In [19]:
# Set KY travel time to UK healthcare destination (21067000801)
UK_travel_time = ky_travel_time[ky_travel_time['geoid_dest'] == 21067000801]

UK_travel_time

,geoid_origin,origin_x,origin_y,geoid_dest,dest_x,dest_y,travel_distance,travel_time
955,21237930200,-83.588704,37.738887,21067000801,-84.503067,38.029765,65.408739,79.028333
2070,21031930300,-86.731982,37.225166,21067000801,-84.503067,38.029765,148.986106,185.936667
3185,21031930400,-86.723313,37.087762,21067000801,-84.503067,38.029765,155.651509,193.491667
4300,21031930200,-86.517884,37.236586,21067000801,-84.503067,38.029765,144.001703,177.725000
5415,21031930500,-86.848686,37.157033,21067000801,-84.503067,38.029765,157.856637,200.431667
...,...,...,...,...,...,...,...,...
1238605,21195931000,-82.470858,37.313760,21067000801,-84.503067,38.029765,164.232045,202.548333
1239720,21195930200,-82.562128,37.548172,21067000801,-84.503067,38.029765,139.721687,171.733333
1240835,21195931600,-82.192534,37.562992,21067000801,-84.503067,38.029765,168.855804,209.820000
1241950,21195930400,-82.481005,37.461693,21067000801,-84.503067,38.029765,147.997688,185.013333
1243065,21195931200,-82.380711,37.517216,21067000801,-84.503067,38.029765,157.296842,198.510000

## Merge need_proportion from medic_visit_need to UK_destination

In [20]:
# Merge need_proportion from medic_visit_need to UK_destination
UK_demand_time = UK_destination_merged.merge(
    UK_travel_time[['geoid_origin', 'travel_time', 'travel_distance']], 
    left_on='origin_geo_id', 
    right_on='geoid_origin', 
    how='left'
)

# Dropping the redundant tract_number column (since it is the same as origin_geo_id)
UK_demand_time.drop(columns=['geoid_origin'], inplace=True)

# Display the first few rows of the merged dataset
UK_demand_time

,origin_geo_id,dest_geo_id,attracted_trips,tract_name,need_proportion,need_med_ride,perfect_pax,travel_time,travel_distance
0,21001970100,21067000801,3.283400,"Adair County, Tract 970100",0.151132,0.496228,0.0,109.511667,76.315819
1,21001970200,21067000801,0.782332,"Adair County, Tract 970200",0.144472,0.113025,0.0,114.236667,96.260890
2,21001970300,21067000801,3.873214,"Adair County, Tract 970300",0.172224,0.667062,0.0,121.711667,84.799048
3,21001970401,21067000801,2.667262,"Adair County, Tract 970401",0.177157,0.472525,1.0,126.026667,98.933289
4,21001970402,21067000801,1.725057,"Adair County, Tract 970402",0.142153,0.245222,1.0,124.051667,102.547380
...,...,...,...,...,...,...,...,...,...
1110,21239050106,21067000801,65.931136,"Woodford County, Tract 050106",0.159578,10.521139,11.0,23.390000,11.451775
1111,21239050107,21067000801,57.088081,"Woodford County, Tract 050107",0.160549,9.165432,10.0,24.463333,16.278102
1112,21239050200,21067000801,64.944824,"Woodford County, Tract 050200",0.147219,9.561143,10.0,36.700000,20.590366
1113,21239050300,21067000801,24.980921,"Woodford County, Tract 050300",0.136907,3.420058,3.0,24.755000,17.000261
1114,21239050400,21067000801,33.125708,"Woodford County, Tract 050400",0.155395,5.147570,5.0,29.895000,19.649981

In [21]:
## Select relevant columns

UK_demand_time_df = UK_demand_time[['origin_geo_id', 'dest_geo_id', 'perfect_pax', 'travel_time']]

UK_demand_time_df

      origin_geo_id  dest_geo_id  perfect_pax  travel_time
0       21001970100  21067000801          0.0   109.511667
1       21001970200  21067000801          0.0   114.236667
2       21001970300  21067000801          0.0   121.711667
3       21001970401  21067000801          1.0   126.026667
4       21001970402  21067000801          1.0   124.051667
...             ...          ...          ...          ...
1110    21239050106  21067000801         11.0    23.390000
1111    21239050107  21067000801         10.0    24.463333
1112    21239050200  21067000801         10.0    36.700000
1113    21239050300  21067000801          3.0    24.755000
1114    21239050400  21067000801          5.0    29.895000

[1115 rows x 4 columns]

In [22]:
# Check rows with NaN values
nan_rows = UK_demand_time_df[UK_demand_time_df["perfect_pax"].isna()]
print(nan_rows)

      origin_geo_id  dest_geo_id  perfect_pax  travel_time
64      21015980100  21067000801          NaN    93.930000
124     21029980100  21067000801          NaN   128.073333
203     21047980100  21067000801          NaN   271.713333
678     21111980100  21067000801          NaN    96.973333
803     21143980100  21067000801          NaN   280.261667
1054    21221980200  21067000801          NaN   272.666667

In [23]:
# Store NaN values as zero and convert perfect_pax to integer

UK_demand_time_df["perfect_pax"] = pd.to_numeric(UK_demand_time_df["perfect_pax"], errors="coerce").fillna(0).astype("int64")

C:\Users\Musa\AppData\Local\Temp\ipykernel_15660\1209832893.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UK_demand_time_df["perfect_pax"] = pd.to_numeric(UK_demand_time_df["perfect_pax"], errors="coerce").fillna(0).astype("int64")

In [24]:
# Randomly round travel time
import numpy as np
# Function to randomly round travel time
def random_round(value):
    mod = value % 1
    if np.random.rand() < mod:  # round up
        return np.ceil(value)
    else:  # round down
        return np.floor(value)

# Apply the function to the column
UK_demand_time_df['travel time'] = UK_demand_time_df['travel_time'].apply(random_round)

C:\Users\Musa\AppData\Local\Temp\ipykernel_15660\1868262373.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UK_demand_time_df['travel time'] = UK_demand_time_df['travel_time'].apply(random_round)

In [25]:
# Convert geoid_origin and geoid_dest to whole numbers (integers)
UK_demand_time_df["travel time"] = UK_demand_time_df["travel time"].astype("int64")

C:\Users\Musa\AppData\Local\Temp\ipykernel_15660\1370371533.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UK_demand_time_df["travel time"] = UK_demand_time_df["travel time"].astype("int64")

In [26]:
# Rename
UK_demand_time_df.rename(columns={'travel_time': 't_time'}, inplace=True)

C:\Users\Musa\AppData\Local\Temp\ipykernel_15660\3415290718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UK_demand_time_df.rename(columns={'travel_time': 't_time'}, inplace=True)

In [27]:
UK_demand_time_df

      origin_geo_id  dest_geo_id  perfect_pax      t_time  travel time
0       21001970100  21067000801            0  109.511667          110
1       21001970200  21067000801            0  114.236667          115
2       21001970300  21067000801            0  121.711667          122
3       21001970401  21067000801            1  126.026667          126
4       21001970402  21067000801            1  124.051667          124
...             ...          ...          ...         ...          ...
1110    21239050106  21067000801           11   23.390000           23
1111    21239050107  21067000801           10   24.463333           24
1112    21239050200  21067000801           10   36.700000           36
1113    21239050300  21067000801            3   24.755000           25
1114    21239050400  21067000801            5   29.895000           30

[1115 rows x 5 columns]

In [28]:
UK_demand_time_df['travel time'].mean()

121.51748878923767

## Develop the Ordinary Scheduling Approach

In [29]:
# Constants
HOSPITAL_OPEN_TIME = 28800  # 08:00 in seconds
HOSPITAL_CLOSE_TIME = 61200  # 17:00 in seconds
ARRIVE_EARLY_TIME = 900  # arrive to appointment 15 minutes early
APPOINTMENT_DURATION = 3600  # 1 hour (in seconds)
APPOINTMENT_INCREMENT = 900  # appointments occur in 15 minute increments

# List to store new records
expanded_data = []
request_id = 1

# Process each row in the dataset
for _, row in UK_demand_time_df.iterrows():
    origin = row["origin_geo_id"]
    destination = row["dest_geo_id"]
    perfect_pax = int(row["perfect_pax"]) # Ensure it's an integer
    travel_time = row["travel time"]
    
    for _ in range(perfect_pax):
        # Generate random appointment time within hospital hours
        appointment_time = np.random.randint(HOSPITAL_OPEN_TIME/APPOINTMENT_INCREMENT, HOSPITAL_CLOSE_TIME/APPOINTMENT_INCREMENT)
        appointment_time = appointment_time * APPOINTMENT_INCREMENT
        
        # Append go-trip
        expanded_data.append([appointment_time - (travel_time*60) - ARRIVE_EARLY_TIME, origin, destination, request_id, appointment_time])
        request_id += 1
        
        # Calculate return trip time
        return_rq_time = appointment_time + APPOINTMENT_DURATION
        
        # Append return-trip
        expanded_data.append([return_rq_time, destination, origin, request_id, appointment_time])
        request_id += 1

# Create new DataFrame
UKhealthcare_demand = pd.DataFrame(expanded_data, columns=["rq_time", "origin_geo_id", "dest_geo_id", "request_id", "appointment_time"])

In [30]:
UKhealthcare_demand

      rq_time  origin_geo_id   dest_geo_id  request_id  appointment_time
0     51840.0   2.100197e+10  2.106700e+10           1             60300
1     63900.0   2.106700e+10  2.100197e+10           2             60300
2     24960.0   2.100197e+10  2.106700e+10           3             33300
3     36900.0   2.106700e+10  2.100197e+10           4             33300
4     51240.0   2.100197e+10  2.106700e+10           5             60300
...       ...            ...           ...         ...               ...
3087  51300.0   2.106700e+10  2.123905e+10        3088             47700
3088  34200.0   2.123905e+10  2.106700e+10        3089             36900
3089  40500.0   2.106700e+10  2.123905e+10        3090             36900
3090  46800.0   2.123905e+10  2.106700e+10        3091             49500
3091  53100.0   2.106700e+10  2.123905e+10        3092             49500

[3092 rows x 5 columns]

In [31]:
# Convert geoid_origin and geoid_dest to whole numbers (integers)
UKhealthcare_demand["rq_time"] = UKhealthcare_demand["rq_time"].astype("int64")
UKhealthcare_demand["origin_geo_id"] = UKhealthcare_demand["origin_geo_id"].astype("int64")
UKhealthcare_demand["dest_geo_id"] = UKhealthcare_demand["dest_geo_id"].astype("int64")

In [32]:
UKhealthcare_demand

      rq_time  origin_geo_id  dest_geo_id  request_id  appointment_time
0       51840    21001970401  21067000801           1             60300
1       63900    21067000801  21001970401           2             60300
2       24960    21001970402  21067000801           3             33300
3       36900    21067000801  21001970402           4             33300
4       51240    21001970500  21067000801           5             60300
...       ...            ...          ...         ...               ...
3087    51300    21067000801  21239050400        3088             47700
3088    34200    21239050400  21067000801        3089             36900
3089    40500    21067000801  21239050400        3090             36900
3090    46800    21239050400  21067000801        3091             49500
3091    53100    21067000801  21239050400        3092             49500

[3092 rows x 5 columns]

## Use Nearest Neighbor from QGIS to Link Node Index with the Corresponding GEOID

In [33]:
# Load the nearest neighbor data saved from QGIS
nodes_neighbor = pd.read_csv('Ky_nearest_neighbor.csv')

In [34]:
nodes_neighbor = pd.DataFrame(nodes_neighbor)
nodes_neighbor

,fid,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,...,osm_id,is_stop_only,pos_x,pos_y,n,distance,feature_x,feature_y,nearest_x,nearest_y
0,1,21,237,930200,21237930200,9302.0,Census Tract 9302,G5020,S,248131879,...,168867810,False,-83.585382,37.744319,1,0,-83.585382,37.744319,-83.585382,37.744319
1,2,21,31,930300,21031930300,9303.0,Census Tract 9303,G5020,S,194557718,...,162492111,False,-86.713943,37.218780,1,0,-86.713943,37.218780,-86.713943,37.218780
2,3,21,31,930400,21031930400,9304.0,Census Tract 9304,G5020,S,218455330,...,162518877,False,-86.679174,37.161455,1,0,-86.679174,37.161455,-86.679174,37.161455
3,4,21,31,930200,21031930200,9302.0,Census Tract 9302,G5020,S,248312270,...,162503493,False,-86.431922,37.236734,1,0,-86.431922,37.236734,-86.431922,37.236734
4,5,21,31,930500,21031930500,9305.0,Census Tract 9305,G5020,S,208592384,...,162570711,False,-86.882836,37.156223,1,0,-86.882836,37.156223,-86.882836,37.156223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,1111,21,195,931000,21195931000,9310.0,Census Tract 9310,G5020,S,70345477,...,1293312684,False,-82.459456,37.361679,1,0,-82.459456,37.361679,-82.459456,37.361679
1111,1112,21,195,930200,21195930200,9302.0,Census Tract 9302,G5020,S,129254353,...,3239794745,False,-82.548504,37.510748,1,0,-82.548504,37.510748,-82.548504,37.510748
1112,1113,21,195,931600,21195931600,9316.0,Census Tract 9316,G5020,S,68228358,...,167784806,False,-82.200458,37.552682,1,0,-82.200458,37.552682,-82.200458,37.552682
1113,1114,21,195,930400,21195930400,9304.0,Census Tract 9304,G5020,S,48576134,...,637768897,False,-82.505627,37.442679,1,0,-82.505627,37.442679,-82.505627,37.442679
1114,1115,21,195,931200,21195931200,9312.0,Census Tract 9312,G5020,S,157676919,...,167768602,False,-82.349496,37.497612,1,0,-82.349496,37.497612,-82.349496,37.497612

In [35]:
# Create a node lookup
node_lookup = dict(zip(nodes_neighbor['GEOID'], nodes_neighbor['node_index']))
node_lookup

{21237930200: 12190,
 21031930300: 7296,
 21031930400: 7314,
 21031930200: 7302,
 21031930500: 7331,
 21031930100: 7310,
 21111009300: 5649,
 21093001200: 7637,
 21111009600: 3551,
 21111009700: 5335,
 21111009800: 6530,
 21093000700: 7702,
 21093001500: 7568,
 21093001300: 7623,
 21093001700: 7580,
 21093001001: 7711,
 21093000902: 3380,
 21093000300: 6459,
 21093000800: 3371,
 21093001600: 7675,
 21093000901: 3373,
 21093001002: 7707,
 21137920300: 7898,
 21093000600: 9313,
 21093001100: 7704,
 21067003908: 10077,
 21067003909: 10838,
 21067003910: 10017,
 21067003911: 10085,
 21067002002: 2926,
 21111007000: 4252,
 21111007400: 6549,
 21111007601: 4297,
 21111007602: 3627,
 21137920400: 8903,
 21137920200: 7906,
 21035010100: 1778,
 21111007603: 5932,
 21067002001: 6832,
 21067003503: 2837,
 21067003504: 2978,
 21067000101: 3023,
 21067003912: 10088,
 21047201502: 1965,
 21047980100: 331,
 21047201302: 244,
 21093000202: 6201,
 21035010700: 140,
 21035010400: 1924,
 21035010200: 94,
 21235920600: 12394,
 21235920400: 12168,
 21235920200: 12259,
 21235920300: 12206,
 21235920800: 12253,
 21235920100: 12234,
 21235920500: 12267,
 21235920700: 12174,
 21017030100: 10756,
 21067004208: 6422,
 21067003913: 10742,
 21111007700: 5703,
 21111007800: 4277,
 21111008100: 5192,
 21229930200: 8895,
 21229930100: 5038,
 21229930300: 8605,
 21111008200: 4280,
 21111008300: 5649,
 21017030200: 9596,
 21017030600: 9601,
 21017030400: 9638,
 21017030500: 10948,
 21017030300: 9574,
 21051950500: 11246,
 21171930100: 8081,
 21171930300: 8086,
 21171930200: 8089,
 21227010900: 8739,
 21111013100: 4222,
 21111001000: 3559,
 21111012301: 4334,
 21157950100: 2053,
 21157950500: 1481,
 21157950300: 1506,
 21157950400: 2002,
 21053970201: 8946,
 21207960400: 8374,
 21207960300: 9242,
 21207960200: 8423,
 21015070301: 5593,
 21015070200: 2495,
 21231920200: 8692,
 21231920300: 8752,
 21231920100: 8692,
 21231920400: 8661,
 21111003700: 4320,
 21145031302: 1340,
 21145031301: 2176,
 21009951000: 7193,
 21009950100: 7192,
 21009950900: 7186,
 21009950500: 8810,
 21009950700: 7212,
 21009950200: 9395,
 21227010200: 8654,
 21227011700: 8756,
 21227010500: 8720,
 21227010600: 8720,
 21227011500: 8858,
 21227011200: 8774,
 21227010300: 8987,
 21227011900: 8579,
 21227011100: 8908,
 21227011600: 8550,
 21111007900: 4037,
 21053970202: 9014,
 21009950400: 7221,
 21009950300: 7185,
 21009950800: 7217,
 21009950600: 7217,
 21185030401: 4714,
 21185030402: 4719,
 21223100200: 5009,
 21223100100: 5008,
 21015070305: 5442,
 21015070308: 5548,
 21149970200: 1393,
 21149970100: 1389,
 21227011300: 8660,
 21015070309: 6484,
 21029020400: 2635,
 21029020500: 2636,
 21029020300: 2645,
 21029021200: 2651,
 21029020900: 2677,
 21029020800: 2663,
 21111008700: 5193,
 21111012202: 5905,
 21111005100: 4011,
 21225950100: 1697,
 21061920200: 8812,
 21061920400: 7456,
 21111011508: 6216,
 21111007501: 4088,
 21111012702: 4263,
 21111012003: 6127,
 21111006300: 5606,
 21111012701: 3532,
 21111011601: 3988,
 21111001700: 6130,
 21111011302: 4230,
 21111007502: 4202,
 21111012503: 4323,
 21111010307: 3969,
 21111010007: 4161,
 21111012107: 4307,
 21111009400: 4048,
 21111011102: 3990,
 21111012002: 3718,
 21111010006: 6099,
 21037051102: 2822,
 21183920600: 8233,
 21183920200: 8231,
 21239050300: 6958,
 21239050200: 5119,
 21239050400: 5084,
 21037052002: 9726,
 21037052400: 2719,
 21037053100: 10831,
 21037050100: 2728,
 21037051904: 9764,
 21037051901: 9694,
 21037051300: 11045,
 21037052301: 2810,
 21037051903: 9709,
 21037052900: 9713,
 21037052500: 2798,
 21037052302: 9758,
 21037052001: 10972,
 21037050400: 2754,
 21111000600: 4014,
 21199930402: 8345,
 21199930502: 8798,
 21111011901: 3825,
 21111010008: 6099,
 21111012703: 4284,
 21111012203: 4305,
 21111012001: 4034,
 21111005000: 5700,
 21111010005: 6099,
 21111011005: 5710,
 21111012104: 4308,
 21111012204: 4084,
 21183920300: 9274,
 21037050500: 2755,
 21037050600: 6375,
 21037051101: 6380,
 21183920500: 8182,
 21183920400: 8234,
 21183920100: 8176,
 21183920700: 8239,
 21125971101: 12608,
 21115960400: 11040,
 21115960300: 10240,
 21115960200: 10258,
 21115960600: 10253,
 21115960500: 10280,
 21115960100: 10257,
 21067004006: 10129,
 21037051200: 2822,
 21037052100: 6380,
 21037052200: 2822,
 21037052800: 9710,
 21037053302: 2733,
 21111012604: 4337,
 21111000200: 5189,
 21111000300: 3450,
 21111000400: 5983,
 21111000700: 4005,
 21111000800: 5983,
 21111000900: 3922,
 21111011509: 4289,
 21111011706: 3794,
 21111011707: 3999,
 21111011800: 5485,
 21111011904: 6183,
 21111011905: 3833,
 21111011906: 5849,
 21067004003: 3013,
 21111011907: 6128,
 21111012103: 5308,
 21111012105: 4038,
 21111012106: 4038,
 21111012302: 4084,
 21209040400: 4917,
 21125971102: 11589,
 21125971001: 11587,
 21211040301: 4914,
 21211040401: 4941,
 21215080103: 4972,
 21015980100: 6656,
 21179930302: 4629,
 21179930301: 4645,
 21049020101: 9874,
 21049020300: 9835,
 21049020103: 9849,
 21049020600: 9863,
 21167960100: 6628,
 21167960500: 4571,
 21215080200: 5384,
 21015070402: 6534,
 21015070307: 5871,
 21015070100: 5603,
 21015070502: 2529,
 21015070604: 2480,
 21015070601: 2494,
 21123960200: 7849,
 21123960300: 7842,
 21195931300: 11975,
 21195930700: 12278,
 21195930900: 12053,
 21195931100: 12467,
 21195931800: 11937,
 21221970300: 2147,
 21221970100: 1690,
 21221970200: 1648,
 21111011708: 3653,
 21111011518: 3989,
 21231920700: 8663,
 21111010702: 3570,
 21111010705: 6444,
 21105970100: 837,
 21087930300: 8073,
 21087930200: 7513,
 21087930400: 7517,
 21087930100: 7512,
 21067003704: 2980,
 21067003600: 6828,
 21067003906: 9947,
 21067004210: 6323,
 21111009900: 7023,
 21067002700: 2903,
 21067002800: 6858,
 21067002900: 7033,
 21067003000: 2877,
 21067003101: 10011,
 21067003102: 10011,
 21067003300: 10066,
 21067003402: 9933,
 21067003404: 2848,
 21067003405: 9939,
 21067003407: 10053,
 21067003501: 2844,
 21135930300: 10319,
 21135930100: 10335,
 21135930400: 10328,
 21135930200: 10326,
 21143960100: 1152,
 21143960200: 1183,
 21089040700: 10164,
 21089040400: 10160,
 21089040300: 10180,
 21089040100: 10179,
 21089040600: 10187,
 21205950100: 10694,
 21205950200: 10703,
 21205950300: 10715,
 21205950400: 10719,
 21211040102: 4949,
 21049020106: 10773,
 21211040501: 4948,
 21211040402: 4895,
 21211040101: 4923,
 21197970100: 10655,
 21197970200: 10660,
 21111010706: 6400,
 21111011301: 4228,
 21159950200: 10954,
 21159950100: 10379,
 21159950300: 12032,
 21111011403: 3614,
 21111011200: 3696,
 21111011404: 4329,
 21111011505: 4296,
 21111011506: 4065,
 21111010102: 5994,
 21113060504: 4175,
 21113060503: 4078,
 21179930303: 8165,
 21075960100: 603,
 21075960200: 592,
 21111010309: 5884,
 21111010311: 6024,
 21111010402: 5198,
 21111010403: 3671,
 21015070605: 2522,
 21173920302: 10540,
 21029020602: 5890,
 21029020101: 2680,
 21015070504: 2549,
 21015070313: 2519,
 21209040100: 4868,
 21015070312: 2412,
 21015070503: 2545,
 21111011405: 6242,
 21111011406: 6247,
 21047201501: 407,
 21047201503: 394,
 21163970500: 4570,
 21037053200: 5906,
 21151011000: 11849,
 21151011400: 11861,
 21151010800: 11863,
 21151010200: 11912,
 21151011200: 12514,
 21151011100: 11880,
 21151010300: 11768,
 21151010600: 11852,
 21151010500: 11856,
 21151010400: 11850,
 21133950401: 11732,
 21133950402: 11729,
 21077960101: 6681,
 21035010600: 2231,
 21035010800: 93,
 21035010500: 103,
 21173920301: 10528,
 21083020400: 701,
 21083020200: 2084,
 21083020300: 2087,
 21083020100: 661,
 21083020900: 697,
 21083020800: 637,
 21083020600: 629,
 21083020700: 2122,
 21083020500: 708,
 21067001400: 10119,
 21067001500: 10047,
 21067001600: 10060,
 21121930602: 11480,
 21067001700: 10888,
 21067000200: 2961,
 21067000500: 10834,
 21067000300: 10118,
 21173920500: 10542,
 21139040100: 1108,
 21139040200: 1098,
 21173920100: 10914,
 21173920200: 10523,
 21173920400: 10522,
 21067004105: 3019,
 21067004106: 3009,
 21067004103: 3047,
 21067003701: 5938,
 21067003917: 9988,
 21067004007: 10051,
 21067004005: 10129,
 21067003918: 10069,
 21067003915: 9947,
 21067004209: 2967,
 21067003916: 10068,
 21117060300: 4516,
 21227011800: 8690,
 21005950400: 2370,
 21005950100: 2375,
 21005950300: 2366,
 21117065300: 6044,
 21117065800: 4537,
 21117063605: 4464,
 21117064200: 4378,
 21117064000: 6404,
 21117064700: 6039,
 21117066900: 4473,
 21117066800: 4488,
 21117061100: 6368,
 21117061000: 4527,
 21117060900: 4523,
 21117065100: 4421,
 21117063701: 6394,
 21117065200: 4417,
 21117061200: 2782,
 21117063606: 4487,
 21117064100: 4383,
 21067000102: 2831,
 21101020300: 2309,
 21117060700: 4517,
 21117065900: 4537,
 21117065501: 4489,
 21117063604: 4457,
 21117061300: 4503,
 21117061400: 4472,
 21117061600: 4390,
 21111012406: 5880,
 21111012407: 4350,
 21111012408: 4305,
 21111012409: 4038,
 21111012501: 5863,
 21023950200: 9669,
 21023950300: 9674,
 21023950100: 9688,
 21111012502: 5859,
 21021930200: 7264,
 21021930600: 7225,
 21021930500: 7255,
 21021930300: 7239,
 21021930400: 7228,
 21021930700: 7262,
 21021930100: 9309,
 21111012601: 4345,
 21111012603: 3543,
 21111012801: 6454,
 21111012802: 3963,
 21107970600: 1069,
 21193971000: 11236,
 21189930100: 11936,
 21189930200: 11934,
 21137920101: 7910,
 21137920103: 7893,
 21093001401: 7680,
 21215080102: 4972,
 21215080101: 4979,
 21103090301: 3426,
 21103090302: 3411,
 21167960300: 8048,
 21033920100: 77,
 21033920300: 87,
 21033920200: 37,
 21233960400: 1750,
 21233960300: 1741,
 21233960100: 1746,
 21233960200: 1740,
 21111010313: 4185,
 21111010406: 6343,
 21111010319: 5713,
 21111010315: 6983,
 21111010316: 6396,
 21111011604: 3979,
 21111011710: 3999,
 21111012411: 4283,
 21191930200: 4789,
 21191930300: 10601,
 21191930100: 10859,
 21199930600: 8355,
 21199930700: 8312,
 21199930100: 9215,
 21101020100: 2318,
 21101020701: 811,
 21101020702: 812,
 21101020602: 803,
 21101020800: 797,
 21177960800: 8100,
 21101020200: 818,
 21101020601: 2323,
 21101020900: 810,
 21177960400: 1573,
 21177960700: 8137,
 21177960500: 1595,
 21177960600: 1545,
 21177960300: 1568,
 21199930200: 8293,
 21199930300: 8274,
 21199931000: 12062,
 21199930900: 12024,
 21177960100: 1530,
 21177960900: 1515,
 21177960200: 1591,
 21071920700: 11320,
 21069920400: 10092,
 21071920100: 12523,
 21071920600: 11374,
 21071921000: 11382,
 21071920800: 11302,
 21071920900: 11364,
 21071920300: 11360,
 21069920200: 10121,
 21069920300: 10075,
 21069920100: 10092,
 21025920700: 11234,
 21071920200: 11340,
 21071920500: 11361,
 21025920600: 11239,
 21025920400: 11219,
 21025920500: 11225,
 21073070800: 3139,
 21093980100: 5587,
 21093000201: 6202,
 21025920100: 11227,
 21025920300: 11221,
 21025920200: 11217,
 21073071000: 6318,
 21073071100: 3130,
 21073070600: 6789,
 21073070100: 3105,
 21019031100: 9586,
 21131920200: 11721,
 21131920300: 11682,
 21131920100: 11671,
 21019030200: 9548,
 21019030300: 10987,
 21019031200: 9513,
 21019030600: 9627,
 21019030800: 10925,
 21019030900: 9627,
 21019031300: 9592,
 21073070500: 3164,
 21059001401: 1915,
 21059000100: 576,
 21059001502: 7438,
 21059001402: 7428,
 21059001703: 572,
 21059001800: 563,
 21059001000: 542,
 21059001501: 2825,
 21081920100: 3308,
 21081920300: 3293,
 21081920400: 3284,
 21081920200: 3303,
 21045950300: 7372,
 21045950400: 7369,
 21045950100: 7365,
 21045950500: 7343,
 21045950200: 7368,
 21111006900: 4179,
 21019030700: 9613,
 21019030400: 9619,
 21019030500: 11066,
 21059000300: 544,
 21049020202: 10907,
 21049020201: 9864,
 21049020105: 9849,
 21111004100: 3980,
 21111004301: 3973,
 21111004302: 3818,
 21111004400: 3929,
 21111004500: 4336,
 21111004600: 3981,
 21111004900: 4098,
 21059000200: 545,
 21059000400: 579,
 21059000500: 1949,
 21059000700: 571,
 21059000800: 533,
 21059000900: 2023,
 21059001100: 542,
 21059000600: 551,
 21059001200: 458,
 21111005200: 5447,
 21111005300: 6133,
 21111005600: 4148,
 21111005900: 3948,
 21111006200: 3996,
 21111006400: 4043,
 21111006500: 3997,
 21111006600: 3765,
 21111006800: 4236,
 21059001601: 7452,
 21059001701: 574,
 21059001702: 535,
 21059001300: 487,
 21059001602: 7407,
 21121930700: 11480,
 21111010001: 7022,
 21111010004: 4161,
 21047200500: 1804,
 21047201200: 285,
 21047200600: 334,
 21047200800: 287,
 21047201400: 307,
 21047200200: 371,
 21047200900: 301,
 21047200100: 370,
 21047201000: 318,
 21047201100: 398,
 21047200300: 347,
 21047200700: 361,
 21047200400: 278,
 21121930300: 12616,
 21121930200: 11491,
 21121930100: 11484,
 21121930500: 11493,
 21121930400: 11500,
 21165960200: 10469,
 21165960100: 10473,
 21147960400: 12519,
 21147960200: 7982,
 21147960300: 11758,
 21147960100: 11742,
 21227010100: 8732,
 21227010803: 8608,
 21227010702: 8615,
 21227010701: 8669,
 21227010801: 8727,
 21227011002: 8770,
 21227011401: 8787,
 21227011402: 8758,
 21227010802: 8644,
 21227011001: 8748,
 21227010400: 8987,
 21125970100: 11593,
 21109960200: 11423,
 21109960300: 11431,
 21109960100: 11429,
 21137920102: 9192,
 21111011603: 6317,
 21029020601: 2627,
 21057950100: 7417,
 21057950200: 7413,
 21111008400: 4254,
 21111008500: 4254,
 21239050104: 5087,
 21239050107: 5130,
 21239050103: 5118,
 21239050105: 5047,
 21239050106: 5130,
 21151010903: 11818,
 21091960200: 6325,
 21091960100: 3327,
 21091960300: 7521,
 21111008800: 4222,
 21111008900: 4222,
 21111009000: 4032,
 21111009103: 5858,
 21051950100: 11272,
 21051950200: 11267,
 21051950400: 11276,
 21051950600: 11262,
 21051950300: 11265,
 21055930200: 421,
 21055930100: 411,
 21055930400: 418,
 21055930300: 417,
 21175950100: 10569,
 21175950300: 10555,
 21175950200: 10563,
 21175950500: 10572,
 21175950400: 10546,
 21181960200: 10584,
 21181960100: 10576,
 21167960200: 8031,
 21169960200: 9026,
 21169960300: 8090,
 21169960100: 8076,
 21125970200: 11610,
 21125970300: 11629,
 21125970600: 11618,
 21125970800: 12473,
 21125970700: 11600,
 21125971002: 11567,
 21213970200: 8487,
 21125970500: 11509,
 21125970400: 12593,
 21125970900: 11599,
 21201970100: 10664,
 21093000500: 3359,
 21001970600: 7088,
 21001970200: 8514,
 21001970500: 7065,
 21001970100: 7098,
 21001970300: 7068,
 21213970300: 8499,
 21213970400: 8491,
 21213970100: 8505,
 21111002100: 4332,
 21093000400: 3376,
 21027960502: 7277,
 21027960501: 7274,
 21067003406: 3022,
 21151010102: 10340,
 21151010702: 11831,
 21151010901: 11902,
 21151010902: 12559,
 21151010101: 10361,
 21151011302: 11895,
 21151011301: 11904,
 21151010701: 10365,
 21005950202: 2382,
 21005950201: 2379,
 21127930400: 10303,
 21127930200: 10293,
 21127930500: 10375,
 21127930100: 10312,
 21127930300: 10307,
 21143980100: 1292,
 21089040201: 10182,
 21089040502: 10167,
 21089040202: 10152,
 21089040501: 10192,
 21209040203: 5574,
 21111001100: 5153,
 21111001200: 3916,
 21111001400: 3986,
 21111001500: 3985,
 21111001600: 3962,
 21111001800: 3959,
 21185030501: 4746,
 21111002300: 4090,
 21111002400: 4007,
 21077960102: 3252,
 21111002700: 6555,
 21111002800: 6554,
 21111003000: 3978,
 21111003500: 4136,
 21111003600: 5922,
 21111003800: 4322,
 21111003900: 4322,
 21111004000: 3889,
 21097950300: 10232,
 21097950100: 10228,
 21097950500: 10231,
 21097950200: 3354,
 21097950400: 10231,
 21117063800: 5425,
 21161960400: 10941,
 21161960500: 10454,
 21161960300: 10442,
 21161960200: 10453,
 21161960100: 10462,
 21185030200: 4728,
 21185030100: 4759,
 21185030801: 4201,
 21185030601: 4720,
 21185030502: 4726,
 21185030802: 4722,
 21185030602: 4698,
 21013960700: 11135,
 21117064300: 5631,
 21117064400: 4385,
 21117064500: 4360,
 21035010302: 1897,
 21035010301: 88,
 21149970500: 1395,
 21193970400: 12009,
 21193970500: 12099,
 21193970700: 12156,
 21193970900: 12725,
 21193970300: 12072,
 21193970600: 12049,
 21193970800: 12041,
 21153970100: 12845,
 21153970400: 11842,
 21153970300: 12580,
 21153970200: 11843,
 21237930100: 12245,
 21013960300: 12623,
 21013960200: 11173,
 21013960800: 11130,
 21013960500: 11141,
 21013960600: 11130,
 21029021101: 6661,
 21013960100: 11126,
 21111007100: 3467,
 21093000100: 3372,
 21029020103: 2646,
 21029020202: 2664,
 21029020102: 6784,
 21029021102: 2644,
 21029020701: 2638,
 21029020702: 2634,
 21029020201: 2645,
 21029980100: 2682,
 21155970400: 8009,
 21013960400: 11210,
 21155970300: 7995,
 21155970200: 8024,
 21155970700: 8025,
 21155970500: 7998,
 21155970800: 8008,
 21065920100: 11289,
 21065920200: 9907,
 21065920300: 11298,
 21007950200: 4,
 21007950300: 15,
 21007950100: 8,
 21163970301: 4591,
 21065920400: 11293,
 21011970200: 9495,
 21011970300: 9491,
 21011970100: 10862,
 21163980100: 4595,
 21163970302: 4575,
 21163970402: 6004,
 21071920400: 12802,
 21073070702: 3171,
 21073070402: 3236,
 21073070401: 3148,
 21015070311: 2546,
 21015070314: 6077,
 21015070607: 5569,
 21163970401: 4599,
 21043960200: 9815,
 21157950200: 1479,
 21157950600: 1498,
 21095971300: 12392,
 21211040302: 4941,
 21185030301: 4757,
 21073070701: 3058,
 21073071200: 5596,
 21041950200: 2766,
 21041950100: 2794,
 21041950300: 2753,
 21221980200: 1664,
 21221980100: 1788,
 21111010800: 6522,
 21111010901: 5337,
 21111010902: 5332,
 21111011002: 3951,
 21111011003: 4286,
 21195931900: 12567,
 21195931500: 12367,
 21195930300: 12740,
 21195930500: 12504,
 21195931400: 11991,
 21067003702: 2998,
 21067002304: 3042,
 21067002303: 11009,
 21067004104: 3015,
 21067002400: 5899,
 21067002500: 2941,
 21123960102: 7857,
 21067002600: 6832,
 21111010500: 5204,
 21111010701: 3570,
 21119960100: 11445,
 21119960400: 11448,
 21119960300: 11450,
 21119960500: 11444,
 21119960200: 11436,
 21067004107: 3031,
 21067003703: 5937,
 21067003804: 10750,
 21067003201: 9912,
 21067003202: 10054,
 21111011004: 3982,
 21067004204: 2950,
 21067004205: 6465,
 21111010312: 4201,
 21003920600: 7121,
 21003920400: 7100,
 21003920200: 8911,
 21113060200: 4149,
 21113060101: 4189,
 21113060102: 7003,
 21003920500: 7099,
 21003920100: 7102,
 21003920300: 8857,
 21113060502: 6606,
 21113060400: 4085,
 21113060600: 4091,
 21113060300: 6603,
 21203950400: 12113,
 21203950300: 12147,
 21203950200: 12127,
 21203950100: 12107,
 21219950300: 1623,
 21219950400: 1613,
 21219950200: 1598,
 21219950100: 1602,
 21037053301: 5672,
 21095970200: 11405,
 21095970800: 11420,
 21079970400: 11385,
 21079970100: 9175,
 21043960100: 10701,
 21043960600: 9811,
 21043960400: 9789,
 21043960300: 9779,
 21043960700: 9786,
 21043960500: 9817,
 21079970200: 7459,
 21079970300: 7460,
 21145031000: 1307,
 21145030400: 1352,
 21145031500: 1346,
 21145031400: 1191,
 21145030200: 1339,
 21145030600: 1188,
 21145030700: 1297,
 21145031100: 1280,
 21145031600: 1356,
 21145030900: 1342,
 21145031200: 1305,
 21145030100: 1336,
 21107971000: 1025,
 21145030500: 1363,
 21145030800: 1211,
 21099970500: 7814,
 21099970200: 7798,
 21099970100: 7713,
 21099970400: 7784,
 21099970300: 7796,
 21107970400: 1023,
 21107971100: 838,
 21107971300: 832,
 21107970200: 1016,
 21107970300: 878,
 21107970500: 1024,
 21107970900: 1018,
 21217920100: 8532,
 21107970800: 1012,
 21107970100: 850,
 21107970700: 1027,
 21217920400: 8518,
 21217920200: 8515,
 21217920500: 8534,
 21217920300: 8525,
 21209040205: 5910,
 21013961100: 11211,
 21063920100: 9986,
 21063920200: 9906,
 21061920300: 7431,
 21061980100: 7450,
 21067000400: 10099,
 21067000600: 3007,
 21067000700: 3007,
 21067000801: 2944,
 21067000802: 2947,
 21067004001: 3014,
 21067002200: 5740,
 21067003802: 10105,
 21067000900: 3028,
 21111011106: 4125,
 21111011109: 5996,
 21111011110: 4065,
 21067001100: 2911,
 21067001300: 3039,
 21049020400: 9872,
 21049020500: 9877,
 21211040200: 4965,
 21209040602: 4951,
 21209040601: 4814,
 21209040501: 4858,
 21209040302: 4906,
 21209040303: 4872,
 21209040502: 4807,
 21209040301: 4854,
 21209040603: 6535,
 21085950100: 7793,
 21187970300: 4780,
 21187970100: 4786,
 21187970200: 4753,
 21085950500: 8971,
 21085950600: 7495,
 21085950300: 7505,
 21085950200: 8863,
 21085950700: 7503,
 21141960300: 7951,
 21085950400: 7463,
 21141960600: 7959,
 21141960400: 7927,
 21141960200: 7955,
 21141960500: 9057,

In [36]:
node_lookup[21059000100]

576

## Apply node lookup to UKhealthcare_demand to link GEOID to node index

In [37]:
# Apply node lookup to UKhealthcare_demand to link the GEOID to the node index
UKhealthcare_demand['start'] = UKhealthcare_demand['origin_geo_id'].apply(lambda x : node_lookup[x])

In [38]:
UKhealthcare_demand['end'] = UKhealthcare_demand['dest_geo_id'].apply(lambda x : node_lookup[x])

In [39]:
UKhealthcare_demand

,rq_time,origin_geo_id,dest_geo_id,request_id,appointment_time,start,end
0,51840,21001970401,21067000801,1,60300,7118,2944
1,63900,21067000801,21001970401,2,60300,2944,7118
2,24960,21001970402,21067000801,3,33300,9262,2944
3,36900,21067000801,21001970402,4,33300,2944,9262
4,51240,21001970500,21067000801,5,60300,7065,2944
...,...,...,...,...,...,...,...
3087,51300,21067000801,21239050400,3088,47700,2944,5084
3088,34200,21239050400,21067000801,3089,36900,5084,2944
3089,40500,21067000801,21239050400,3090,36900,2944,5084
3090,46800,21239050400,21067000801,3091,49500,5084,2944
3091,53100,21067000801,21239050400,3092,49500,2944,5084

## Select relevant columns

In [40]:
# Select relevant columns
UKhealthcare_demand_data = UKhealthcare_demand[['rq_time', 'start', 'end', 'request_id']]

# Display the DataFrame
UKhealthcare_demand_data

      rq_time  start   end  request_id
0       51840   7118  2944           1
1       63900   2944  7118           2
2       24960   9262  2944           3
3       36900   2944  9262           4
4       51240   7065  2944           5
...       ...    ...   ...         ...
3087    51300   2944  5084        3088
3088    34200   5084  2944        3089
3089    40500   2944  5084        3090
3090    46800   5084  2944        3091
3091    53100   2944  5084        3092

[3092 rows x 4 columns]

In [51]:
#Save file as csv
UKhealthcare_demand_data.to_csv('UKhealthcare_demand_data.csv', index=False)

In [52]:
UKhealthcare_demand_data['rq_time'].min()

14460

## Randomly Split Demand Request by 50% and 25%

In [53]:
# Load the Medical visit and medical need ride data
ukhealthcare_demand = pd.read_csv('UKhealthcare_demand_data.csv')

In [54]:
UKhealthcare_demand_data

      rq_time  start   end  request_id
0       51840   7118  2944           1
1       63900   2944  7118           2
2       24960   9262  2944           3
3       36900   2944  9262           4
4       51240   7065  2944           5
...       ...    ...   ...         ...
3087    51300   2944  5084        3088
3088    34200   5084  2944        3089
3089    40500   2944  5084        3090
3090    46800   5084  2944        3091
3091    53100   2944  5084        3092

[3092 rows x 4 columns]

## 50% Data

In [55]:
UKhealthcare_demand_data

      rq_time  start   end  request_id
0       51840   7118  2944           1
1       63900   2944  7118           2
2       24960   9262  2944           3
3       36900   2944  9262           4
4       51240   7065  2944           5
...       ...    ...   ...         ...
3087    51300   2944  5084        3088
3088    34200   5084  2944        3089
3089    40500   2944  5084        3090
3090    46800   5084  2944        3091
3091    53100   2944  5084        3092

[3092 rows x 4 columns]

In [56]:
# Randomly select 50% of the rows
ukhealthcare_demand_50 = UKhealthcare_demand_data.sample(frac=0.5, random_state=42)

In [57]:
ukhealthcare_demand_50

      rq_time  start    end  request_id
2743    39600   2944   5574        2744
1307    42300   2944   9988        1308
1602    34380   2950   2944        1603
2623    39600   2944  10584        2624
2031    38700   2944   6133        2032
...       ...    ...    ...         ...
2016    31440   3417   2944        2017
2420    30120  11863   2944        2421
2507    41400   2944   6628        2508
2238    40140   4078   2944        2239
1137    53100   2944   9947        1138

[1546 rows x 4 columns]

In [58]:
# Save the sampled data to a new CSV file
ukhealthcare_demand_50.to_csv("ukhealthcare_demand_50.csv", index=False)

## 25% Data

In [68]:
# Randomly select 25% of the rows
ukhealthcare_demand_25 = ukhealthcare_demand.sample(frac=0.25, random_state=42)

In [69]:
ukhealthcare_demand_25

,rq_time,start,end,request_id,earliest_pickup_time,latest_pickup_time
679,36000,5442,2944,69,36000,39600
1637,63000,2944,2980,1038,63000,66600
568,33780,9849,2944,229,33780,37380
790,38100,3105,2944,1821,38100,41700
1767,57600,2944,3019,1498,57600,61200
...,...,...,...,...,...,...
2262,45900,2944,6465,1652,45900,49500
1552,54420,7003,2944,2099,54420,58020
123,24600,11219,2944,171,24600,28200
1536,54060,4091,2944,2277,54060,57660
220,27000,4814,2944,2903,27000,30600

In [70]:
# Save the sampled data to a new CSV file
ukhealthcare_demand_25.to_csv("ukhealthcare_demand_25.csv", index=False)

# Smart Demand Scheduling

In [59]:
# Constants
HOSPITAL_OPEN_TIME = 28800  # 08:00 in seconds
HOSPITAL_CLOSE_TIME = 61200  # 17:00 in seconds
ARRIVE_EARLY_TIME = 900  # Arrive 15 minutes early
APPOINTMENT_DURATION = 3600  # 1 hour (in seconds)
APPOINTMENT_INCREMENT = 900  # Appointments in 15-minute increments

# List to store new records
expanded_data = []
request_id = 1

# Process each row in the dataset
for _, row in UK_demand_time_df.iterrows():
    origin = row["origin_geo_id"]
    destination = row["dest_geo_id"]
    perfect_pax = int(row["perfect_pax"])
    travel_time = row["travel time"]
    
    # Generate random appointment time within hospital hours
    appointment_time = np.random.randint(HOSPITAL_OPEN_TIME // APPOINTMENT_INCREMENT, HOSPITAL_CLOSE_TIME // APPOINTMENT_INCREMENT) * APPOINTMENT_INCREMENT

    for _ in range(perfect_pax):
        # Calculate go-trip request time
        rq_time = appointment_time - (travel_time * 60) - ARRIVE_EARLY_TIME
        
        # Append go-trip
        expanded_data.append([rq_time, origin, destination, request_id, appointment_time])
        request_id += 1
        
        # Calculate return trip time
        return_rq_time = appointment_time + APPOINTMENT_DURATION
        
        # Append return-trip
        expanded_data.append([return_rq_time, destination, origin, request_id, appointment_time])
        request_id += 1

# Create new DataFrame
UKhealthcare_demand_scheduling = pd.DataFrame(expanded_data, columns=["rq_time", "origin_geo_id", "dest_geo_id", "request_id", "appointment_time"])

In [61]:
UKhealthcare_demand_scheduling

      rq_time  origin_geo_id   dest_geo_id  request_id  appointment_time
0     23040.0   2.100197e+10  2.106700e+10           1             31500
1     35100.0   2.106700e+10  2.100197e+10           2             31500
2     45660.0   2.100197e+10  2.106700e+10           3             54000
3     57600.0   2.106700e+10  2.100197e+10           4             54000
4     20640.0   2.100197e+10  2.106700e+10           5             29700
...       ...            ...           ...         ...               ...
3087  58500.0   2.106700e+10  2.123905e+10        3088             54900
3088  52200.0   2.123905e+10  2.106700e+10        3089             54900
3089  58500.0   2.106700e+10  2.123905e+10        3090             54900
3090  52200.0   2.123905e+10  2.106700e+10        3091             54900
3091  58500.0   2.106700e+10  2.123905e+10        3092             54900

[3092 rows x 5 columns]

In [62]:
# Apply node lookup to UKhealthcare_demand to link the GEOID to the node index
UKhealthcare_demand_scheduling['start'] = UKhealthcare_demand_scheduling['origin_geo_id'].apply(lambda x : node_lookup[x])

In [63]:
# Apply node lookup to UKhealthcare_demand to link the GEOID to the node index
UKhealthcare_demand_scheduling['end'] = UKhealthcare_demand_scheduling['dest_geo_id'].apply(lambda x : node_lookup[x])

In [64]:
UKhealthcare_demand_scheduling

,rq_time,origin_geo_id,dest_geo_id,request_id,appointment_time,start,end
0,23040.0,2.100197e+10,2.106700e+10,1,31500,7118,2944
1,35100.0,2.106700e+10,2.100197e+10,2,31500,2944,7118
2,45660.0,2.100197e+10,2.106700e+10,3,54000,9262,2944
3,57600.0,2.106700e+10,2.100197e+10,4,54000,2944,9262
4,20640.0,2.100197e+10,2.106700e+10,5,29700,7065,2944
...,...,...,...,...,...,...,...
3087,58500.0,2.106700e+10,2.123905e+10,3088,54900,2944,5084
3088,52200.0,2.123905e+10,2.106700e+10,3089,54900,5084,2944
3089,58500.0,2.106700e+10,2.123905e+10,3090,54900,2944,5084
3090,52200.0,2.123905e+10,2.106700e+10,3091,54900,5084,2944
3091,58500.0,2.106700e+10,2.123905e+10,3092,54900,2944,5084

In [65]:
# Select relevant columns
UKhealthcare_demand_scheduling = UKhealthcare_demand_scheduling[['rq_time', 'start', 'end', 'request_id']]

# Display the DataFrame
UKhealthcare_demand_scheduling

      rq_time  start   end  request_id
0     23040.0   7118  2944           1
1     35100.0   2944  7118           2
2     45660.0   9262  2944           3
3     57600.0   2944  9262           4
4     20640.0   7065  2944           5
...       ...    ...   ...         ...
3087  58500.0   2944  5084        3088
3088  52200.0   5084  2944        3089
3089  58500.0   2944  5084        3090
3090  52200.0   5084  2944        3091
3091  58500.0   2944  5084        3092

[3092 rows x 4 columns]

In [66]:
# Save the sampled data to a new CSV file
UKhealthcare_demand_scheduling.to_csv("UKhealthcare_demand_scheduling.csv", index=False)

In [67]:
# Load the data
UKhealthcare_demand_scheduling = pd.read_csv('UKhealthcare_demand_scheduling.csv')

UKhealthcare_demand_scheduling

      rq_time  start   end  request_id
0     23040.0   7118  2944           1
1     35100.0   2944  7118           2
2     45660.0   9262  2944           3
3     57600.0   2944  9262           4
4     20640.0   7065  2944           5
...       ...    ...   ...         ...
3087  58500.0   2944  5084        3088
3088  52200.0   5084  2944        3089
3089  58500.0   2944  5084        3090
3090  52200.0   5084  2944        3091
3091  58500.0   2944  5084        3092

[3092 rows x 4 columns]

## Randomly Split Demand Request by 50% and 25%

## 50% Data

In [68]:
# Randomly select 50% of the rows
ukhealthcare_demand_scheduling_50 = UKhealthcare_demand_scheduling.sample(frac=0.5, random_state=42)

ukhealthcare_demand_scheduling_50

      rq_time  start    end  request_id
2743  45000.0   2944   5574        2744
1307  60300.0   2944   9988        1308
1602  58680.0   2950   2944        1603
2623  54000.0   2944  10584        2624
2031  55800.0   2944   6133        2032
...       ...    ...    ...         ...
2016  51240.0   3417   2944        2017
2420  28320.0  11863   2944        2421
2507  37800.0   2944   6628        2508
2238  38340.0   4078   2944        2239
1137  56700.0   2944   9947        1138

[1546 rows x 4 columns]

In [69]:
# Save the sampled data to a new CSV file
ukhealthcare_demand_scheduling_50.to_csv("ukhealthcare_demand_scheduling_50.csv", index=False)

## 25% Data

In [53]:
# Randomly select 25% of the rows
ukhealthcare_demand_scheduling_25 = UKhealthcare_demand_scheduling.sample(frac=0.25, random_state=42)

ukhealthcare_demand_scheduling_25

,rq_time,start,end,request_id,earliest_pickup_time,latest_pickup_time
1241,54900,2944,10742,1242,54900,58500
203,62100,2944,9874,204,62100,65700
1260,49380,10742,2944,1261,49380,52980
1626,32580,6465,2944,1627,32580,36180
1578,49740,2950,2944,1579,49740,53340
...,...,...,...,...,...,...
2932,21360,8663,2944,2933,21360,24960
2410,56520,11902,2944,2411,56520,60120
2337,48600,2944,11758,2338,48600,52200
962,35340,2998,2944,963,35340,38940
1766,57720,6323,2944,1767,57720,61320

In [54]:
# Save the sampled data to a new CSV file
ukhealthcare_demand_scheduling_25.to_csv("ukhealthcare_demand_scheduling_25.csv", index=False)